body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page-intro {
    width: 40rem;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    color: #000000;
    padding: 2rem;
    border-radius: 1rem;
    letter-spacing: 0.3em;
    line-height: 2em;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.project-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80vw;
    
}
.navigation-button {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border: none;
    font-size: 3.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

#previous:hover {
    transform: translateX(-5px);
}

#next:hover {
    transform: translateX(5px);
}

.viewport {
    overflow: hidden;
    position: relative;
    width: 80%;

}

.projects-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem;
    width: 80%; 
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.project {
    width: 400px;
    height: 300px;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
     flex: 0 0 auto;
}

.project:hover {
    transform: translateY(-10px);
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}